@font-face {
  font-family: 'Objectivity';
  src: url('/fonts/Objectivity-Bold.woff2') format('woff2'),
    url('/fonts/Objectivity-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Objectivity';
  src: url('/fonts/Objectivity-Regular.woff2') format('woff2'),
    url('/fonts/Objectivity-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Objectivity';
  src: url('/fonts/Objectivity-Medium.woff2') format('woff2'),
    url('/fonts/Objectivity-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');