// font-family

$font-family: 'Poppins', sans-serif;
$font-heading: 'Poppins', sans-serif;



// color scheme

$black: #000000;
$purple: #505ece;
$dark-purple: #1c122e;
$light-purple: #2c233d;
$light-white: #fafafa;
$primary-red: #ff5a5f;
$fluff: #eff4f9;
$light-green: #42AF8F;
$light-blue: #18A0FB;
$border-stroke: #EDEDED;
$dark: #17171C;
$nice-black: #17171C;
$text-black: #232632;
