@import '../../styles/variables';

.header-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px 0;
  z-index: 99;
  .header-container {
    position: relative;
    &.show {
      position: fixed;
      width: calc(100% - 15px);
    }
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    a {
      margin-right: 2.5rem;
      &:last-child {
        margin-right: 0;
      }
      &.nav-multiple {
        margin-right: 2.45rem;
      }
      &:hover {
        opacity: 0.8;
      }
    }

    @media (max-width: 1280px) {
      position: fixed;
      width: 100%;
      //height: 100%;
      background-color: white;
      flex-direction: column;
      left: 0;
      right: 0;
      top: 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 160px 15px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      //transition: 0.2s opacity ease-out;
      box-shadow: 0 2px 10px 0 rgb(0 0 0 / 6%);

      &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        a {
          font-size: 24px;
          margin-bottom: 16px;
        }
      }
    }
  }

  .header-action {
    display: block;
    @media (max-width: 1280px) {
      display: none;
    }
  }


  .hamburger {
    // background-color: rgba(255, 255, 255, 0.3);
    span {
      height: 3px;
      width: 24px;
      background-color: black;
      border-radius: 10px;
      transition: 0.3s ease-out;
      margin-bottom: 4px;
      // margin: 5px 0;
      &:nth-child(3) {
        width: 16px;
      }
    }

    &.nav-open {
      right: 15px;
      span {
        &:nth-child(1) {
          width: 24px;
          transform: translate(0, 7px) rotate(45deg);
        }
        &:nth-child(2) {
          width: 0px;
        }
        &:nth-child(3) {
          width: 24px;
          transform: translate(0, -7px) rotate(-45deg);
        }
      }
    }
  }
  &.light {
    .hamburger {
      span {
        background: white;
      }
      &.nav-open {
        span {
          background: black;
        }
      }
    }
    .nav-list {
      a {
        color: white;
      }
      path {
        stroke: white;
      }
      &.show {
        a {
          color: black;
        }
        path {
          stroke: black;
        }
      }
    }
  }
}

.header-main .nav-list a{
      position:relative;
  }
.header-main .nav-list a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: #FF5A5F;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-main .nav-list a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (max-width: 1280px) {
  .nav-list .header-action{
    display: block;
    padding: 8px 14px;
    border:0px !important;
    font-size:16px;
  }
  .header-main .nav-list{
    padding:63px;
    padding-top: 95px;
  }
  .header-main .nav-list.show a{
    font-size: 16px;
  }
}