.main-footer {
  .privacy-link-container {
    border-top: 1px solid rgb(white, 0.1);
    @media (min-width: 768px) {
      border-top: none;
    }
    a {
      opacity: 0.6;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
