@import '../../../../styles/variables';
.benifits-section {
  background: $dark;
  .benifit-card {
    h3 {
      line-height: 60px;
    }
  }
}

.benifits-section {
  .client-benifit-slider {
    .item {
      img {
        display: inline-block;
      }
    }
  }

  /*
    carousel nav button default style
  */
  .tns-controls {
    display: none;
  }
  .tns-nav {
    text-align: center;
    button {
      height: 8px !important;
      width: 8px !important;
      margin: 0 5px;
      border-radius: 50%;
      background: #d9d9d9 !important;
      opacity: 0.2 !important;
    }
    .tns-nav-active {
      background: #d9d9d9 !important;
      opacity: 1 !important;
    }
  }
}
.yell-btn{
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #FFC75A;
  position:relative;
}
.yell-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #FFC75A;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.yell-btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.benifits-section .box{
   background:url('/img/vector2.png');
   background-size: auto;
   background-repeat: no-repeat;
   background-position: top right;
   background-position-y: -20px;
}
.benifits-section .box2{
  background: rgba(255, 255, 255, 0.02);
}
.pd-40r{
  padding-right: 90px;
}
.section-pad2 {
  padding: 20px 0;
  @media (max-width: 767px) {
    padding: 10px 0;
  }
}
.imh{
  display:inline-block;
  padding-top: 8px;
}
.pl-0{
  paddding-left:0px;
}
