@import '../../../../styles/variables';
.hero-section {
  .client-card {
    position: relative;
    height: 100%;
    .client-name {
      font-family: $font-heading;
      font-size: 14px;
      line-height: 8px;
      @apply text-white m-0 ml-1 mb-2;
    }
    .client-profession {
      font-family: $font-heading;
      font-size: 10px;
      line-height: 10px;
      @apply text-white opacity-80 m-0 mb-2 ml-1;
    }

    .client-dialog {
      background: white;
      border-radius: 11px;
      padding: 6px;
      filter: drop-shadow(0px 11px 12px rgba(0, 0, 0, 0.05));
      @media (min-width: 768px) {
        padding: 14px;
      }
      .renewal-text {
        font-family: $font-heading;
        font-size: 10px;
        margin: 0;
        border-radius: 4px;
        padding: 5px 9px;
        line-height: 10px;
        font-weight: 500;
        top: 6px;
        span {
          margin-top: 2px;
          margin-left: 5px;
        }
        @media (min-width: 768px) {
          top: 10px;
        }
      }
      .action-text {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        margin: 0;
        &.md-text {
          font-size: 10px;
          line-height: 14px;
          letter-spacing: -0.5px;
        }
        // margin: 0 0 8px 0px;
        font-family: $font-heading;
        &.action-title {
          margin-bottom: 0px;
        }
      }
      .action-icons {
        display: flex;
        @media (min-width: 768px) {
          display: block;
        }
        img {
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-left: 4px;
          @media (min-width: 768px) {
            margin-left: 8px;
            width: 21px;
            height: 21px;
          }
        }
      }
    }

    &:nth-child(1) {
      align-self: flex-end;
      @media (min-width: 1024px) {
        margin-right: 20px;
      }
    }
    &:nth-child(2) {
      align-self: flex-start;
      margin-bottom: 50px;
      margin-right: 32px;
      @media (min-width: 768px) {
        /*margin-left: 24px;*/
        margin-right: 20px;
      }
      @media (min-width: 1024px) {
/*        margin-left: 48px;*/
      }
    }
    &:nth-child(3) {
      align-self: flex-start;
      @media (min-width: 768px) {
/*        margin-left: 24px;*/
      }
      @media (min-width: 1024px) {
/*        margin-left: 48px;*/
      }
    }
    &:nth-child(4) {
      align-self: flex-start;
      margin-top: 0px;
      @media (min-width: 768px) {
          margin-left: 20px;
      }
      @media (min-width: 1024px) {
/*        margin-left: 78px;*/
      }
    }
    &:nth-child(5) {
      align-self: flex-start;
      margin-top: 0px;
      @media (min-width: 768px) {
          margin-left: 20px;
      }
    }
  }
  // .logo-container {
  //   div {
  //     &:nth-child(4),
  //     &:nth-child(5) {
  //       display: none;
  //     }
  //     @media (min-width: 768px) {
  //       &:nth-child(n) {
  //         display: block;
  //       }
  //     }
  //   }
  // }
}
// .logo-container {
// }
// .benifits-section {
//   .client-benifit-slider {
//     .item {
//       .client-description {
//         font-size: 20px;
//         line-height: 34px;
//       }
//       img {
//         display: inline-block;
//       }
//     }
//   }

//   /*
//   carousel nav button default style
// */
//   .tns-controls {
//     display: none;
//   }
//   .tns-nav {
//     text-align: center;
//     button {
//       height: 8px !important;
//       width: 8px !important;
//       margin: 0 5px;
//       border-radius: 50%;
//       background: #d9d9d9 !important;
//       opacity: 0.2 !important;
//     }
//     .tns-nav-active {
//       background: #d9d9d9 !important;
//       opacity: 1 !important;
//     }
//   }
// }



.f-color{
  color: #17171C;
  opacity: .65;
}

.float-btn{
  font-size: 18ox;
  color: #FF5A5F;
  letter-spacing: 0.2px;
  font-family: $font-heading;
  font-style: italic;
  position: relative;
  top: -35px;
  font-weight: 600;
  right: 45px;
  position:relative;
}
.float-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: #FF5A5F;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.float-btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.home-page.hero-section .client-card:nth-child(1) {
    align-self: flex-start !important;
}
.home-page.hero-section{
   background:url('/img/vector.png');
   background-size: auto;
   background-repeat: no-repeat;
   background-position: center;
   background-position: -15px 220px;
}

.md\:text-20{
  font-size:20px;
}
.r0{
  right:0px !important;
  top:-20px;
}
.home .logo-slider .logo-image{
  position: relative;
  left:-48px !important;
}
.benifits-section .benifit-card h3{
  font-size:54px;
  font-weight:700;
  color:#EFF4F9;
}